<div class="container-fluid mt20" ng-controller="logCtrl">
	<div class="row">
		<div class="col-lg-10 col-md-10 col-sm-10">
			<div class="panel panel-primary">
				<div class="panel-heading"><i class="fa fa-fw fa-file-code-o"></i> 系统日志</div>
				<div class="panel-body">
					<div class="btn-group">
						<div class="btn btn-sm btn-default">
							<select ng-model="log_type">
								<option value="all">全部</option>
								<option value="amazon_syn">亚马逊订单同步</option>
								<option value="amazon_import">亚马逊订单导入</option>
								<option value="system">系统</option>
							</select>
						</div>

						<div class="btn btn-sm btn-default">
							<input placeholder="开始日期" class="date_icon blue" readonly="readonly" type="text" name="log_s_date" ng-flat-datepicker datepicker-config="datepickerConfig" ng-model="log_s_date"> - <input placeholder="结束日期" class="date_icon blue" readonly="readonly" type="text" name="log_e_date" ng-flat-datepicker datepicker-config="datepickerConfig" ng-model="log_e_date">
						</div>

						<div class="btn btn-sm btn-default">
							<select ng-model="log_user">
								<option value="all">所有人</option>
								<option ng-repeat="item in all_users track by $index">{{item.u_name}}</option>
							</select>
						</div>
						
						<div class="btn btn-warning btn" ng-click="load_logs()">确 定</div>
					</div>
					<table class="table table-condensed table-hover table-responsive table-bordered mt20">
						<tr class="warning yellow">
							<td>时间</td>
							<td>操作</td>
							<td>员工</td>
						</tr>
						<tr ng-repeat="item in all_log track by $index">
							<td>{{item.do_time}}</td>
							<td>{{item.who_do}}</td>
							<td>{{item.who_name}}</td>
						</tr>
					</table>
				</div>
				<div class="panel-footer">日志查看。</div>
			</div>
		</div>
	</div>
	<div class="end_height"></div>
</div>