<div class="container-fluid mt20" ng-controller="postCtrl">
	<div class="row">
		<div class="col-lg-9 col-md-9 col-sm-10">
			<div class="panel panel-primary">
				<div class="panel-heading"><i class="fa fa-fw fa-check-square-o"></i> SKU更正</div>
				<div class="panel-body">
					<div class="container-fluid">
						<form name="fileForm" ng-controller="FileController">
							<div class="row">
								<div class="">文件类型： true_sku.xlsx</div>
							</div>
							<div class="row mt10">
								<button ng-click="chose_file()" class="btn btn-default" ngf-select="" ngf-pattern="'.xlsx'" name="file" ng-model="upload_file" ngf-multiple="false" required="1">选择文件</button> 
								<i ng-show="fileForm.file.$error.required" class="fa fa-fw fa-star red"></i>
								<span class="green">{{upload_file.name}}</span>
							</div>
							<div class="row mt10">
								<button class="btn btn-primary btn-sm mr10" ng-disabled="!fileForm.$valid" ng-click="submit('true_sku','xlsx','amazon')"><i class="fa fa-upload fa-fw"></i> 导 入</button>
								<button class="btn btn-warning btn-sm mr10" ng-click="look_true_sku()"><i class="fa fa-feed fa-fw"></i> 检 测</button>
								<button class="btn btn-success btn-sm" ng-click="down_true_sku()"><i class="fa fa-download fa-fw"></i> 下 载</button>
							</div>
							<div class="row mt10">
								<div class="col-lg-11">
									<div class="progress" ng-show="progress_bar >=0">
										<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{progress_bar}}" aria-valuemin="0" aria-valuemax="100" style="width:{{progress_bar}}%">
										{{progress_bar}}%
										</div>
									</div>
								</div>
								<div class="col-lg-1 green fa fa-fw fa-check" ng-show="upload_ok"></div>
							</div>
							<div ng-show="post_response" class="well">
								<i class="fa fa-fw fa-inbox green"></i>已导入：<span class="green">{{post_response.insert_num}}</span> 条
								<table class="table table-bordered mt20 f12 table-condensed">
									<tr class="success green">
										<td>ID</td>
										<td>SKU</td>
										<td>更正SKU</td>
										<td>店铺</td>
									</tr>
									<tr ng-repeat="item in post_response.look_data1 track by $index" class="s_gray">
										<td>{{item.id}}</td>
										<td>{{item.sku}}</td>
										<td>{{item.goods_code}}</td>
										<td>{{item.store}}</td>
									</tr>
									<tr class="s_gray">
										<td>...</td>
										<td>...</td>
										<td>...</td>
									</tr>
									<tr ng-repeat="item in post_response.look_data2 track by $index" class="s_gray">
										<td>{{item.id}}</td>
										<td>{{item.sku}}</td>
										<td>{{item.goods_code}}</td>
										<td>{{item.store}}</td>
									</tr>
								</table> 
							</div>
						</form>
						
					</div>

				</div>
				<div class="panel-footer">系统验证环节进行自动SKU转化原数据，例：ACT→ZHB。<br>上传覆盖原始数据，从 .xlsx 文件的第二行导入数据。<br>点击【下载】下载上次导入的数据。<br><span class="red">注：同一店铺不能有重复的SKU更正规则。</span></div>
			</div>
		</div>
	</div>
	<div class="end_height"></div>
</div>