<div class="container-fluid mt20" ng-controller="yfcodeCtrl">
	<div class="panel panel-primary">
		<div class="panel-heading"><i class="fa fa-fw fa-jpy"></i> 运费代码</div>
		<div class="panel-body">

			<div class="btn-group ml20">
				<div class="btn btn-default btn-sm">
					<input class="key_words" ng-model='yf_code' type="text" placeholder="运费代码">
				</div>
				<div class="btn btn-default btn-sm">
					<input class="key_words" ng-model='level' ng-blur="check_int('level')" type="number" placeholder="优先级">
				</div>
				<div class="btn btn-default btn-sm">
					<select class="btn btn-default btn-sm selecter pull-left mr5 blue" ng-model="send_method" ng-change="change_search_field()">
						<option value="">配送方式 ..</option>
						<option value="DM便">DM便</option>
						<option value="ネコポス">ネコポス</option>
						<option value="宅配便">宅配便</option>
					</select>
				</div>
				<div class="btn btn-default btn-sm">
					<select class="btn btn-default btn-sm selecter pull-left mr5 blue" ng-model="need_cod" ng-change="change_search_field()">
						<option value="">支持COD ..</option>
						<option value="1">Y</option>
						<option value="0">N</option>
					</select>
				</div>
				<div class="btn btn-default btn-sm">
					<input class="key_words" ng-model='default_yf' ng-blur="check_int('default_yf')" type="number" placeholder="默认基础运费">
				</div>
				<div class="btn btn-default btn-sm">
					<input class="key_words" ng-model='default_one_yf' ng-blur="check_int('default_one_yf')" type="number" placeholder="默认单件追加运费">
				</div>
				<div class="btn btn-success" ng-click="add_yfcode()" ng-disabled="!yf_code || !level || !send_method || !need_cod" ><i class="fa fa-plus fa-fw"></i>新 增</div>
			</div>

			<div class="container-fluid">
				<table class="table table-hover table-striped table-bordered table-condensed f12 tagc mt20">
					<tr class="warning yellow">
						<td><i class="fa fa-sort-numeric-asc fa-fw"></i></td>
						<td>运费代码</td>
						<td>优先级</td>
						<td>包裹类型</td>
						<td>支持COD</td>
						<td>默认基础运费</td>
						<td>默认单件追加运费</td>
						<td>特殊运费</td>
						<td>状态</td>
						<td>操作</td>
					</tr>
					<tr ng-repeat="item in yfcode_table track by $index">
						<td>{{$index+1}}</td>
						<td>{{item.yf_code_name}}</td>
						<td>{{item.level}}</td>
						<td>{{item.send_method}}</td>
						<td ng-class="{'green success':item.need_cod==1,'red danger':item.need_cod==0}">{{item.need_cod | status}} <i class="blue pointer fa fa-hand-pointer-o fa-fw" ng-click="change_status(item.id,'need_cod')"></i></td>
						<td>{{item.default_yf}}</td>
						<td>{{item.default_one_yf}}/件</td>
						<td><div class="btn btn-primary btn-xs" data-animation="am-fade-and-slide-top" data-template-url="/modal/yf_code.html" bs-modal="modal" ng-click="change_yfcode = item.yf_code_name;get_spe_list(item.yf_code_name)">查看</div></td>
						<td ng-class="{'green success':item.status==1,'red danger':item.status==0}">{{item.status | status}} <i class="blue pointer fa fa-hand-pointer-o fa-fw" ng-click="change_status(item.id,'status')"></i></td>
						<td>
							<button class="btn btn-primary btn-xs mr5" data-animation="am-fade-and-slide-top" data-template-url="/modal/change_yfcode.html" bs-modal="modal" ng-click="cg_yfcode(item.yf_code_name,item.level,item.default_yf,item.default_one_yf,item.send_method)"><i class="fa fa-edit fa-fw"></i>修 改</button>
							<button class="btn btn-default btn-xs mr5" ng-click="is_del=!is_del"><i class="fa fa-question-circle fa-fw"></i>删 除</button>
              				<button class="btn btn-danger btn-xs" ng-disabled="!is_del" ng-click="del_yfcode(item.id)"><i class="fa fa-trash-o fa-fw"></i>删 除</button>
              			</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="panel-footer">
			进行运费代码管理，点击【查看】进行特殊运费操作。<br>
			<span class="red">【注意】运费代码不能相同，优先级不能相同。</span>

		</div>
	</div>

	<div class="end_height"></div>
</div>