<style>
.table{margin-bottom: 10px;}
.open_title{background: #fcf8e3;}
</style>
<div class="container-fluid mt20" ng-controller="amazonCtrl">
	<div class="row">
		<div class="col-lg-6 col-md-6 col-sm-10">
			<div class="panel panel-primary">
				<div class="panel-heading">单品发货</div>
				<div class="panel-body">
					<div class="input-group auto mt10 ml20 mr20 ">
						<span class="input-group-addon" >
							AmazonOrderID
						</span>
						<input  type="text"
						placeholder="亚马逊ID" 
						ng-model="AmazonOrderID" 
						class="form-control">
					</div>
					<div class="input-group auto mt10 ml20 mr20 ">
						<span class="input-group-addon" >
							CarrierName
						</span>
						<input  type="text"
						placeholder="快递公司" 
						ng-model="CarrierName" 
						class="form-control">
					</div>
					<div class="input-group auto mt10 ml20 mr20 ">
						<span class="input-group-addon" >
							ShippingMethod
						</span>
						<input  type="text"
						placeholder="宅配便" 
						ng-model="ShippingMethod" 
						class="form-control">
					</div>
					<div class="input-group auto mt10 ml20 mr20 ">
						<span class="input-group-addon" >
							ShipperTrackingNumber
						</span>
						<input  type="text"
						placeholder="快递单号" 
						ng-model="ShipperTrackingNumber" 
						class="form-control">
					</div>
				</div>
				<div class="panel-footer">
					<!-- <button ng-click="send_one()" class="btn btn-primary disabled">发 货</button> -->
					<button class="btn btn-primary disabled">发 货 [仅供测试用]</button>
				</div>
			</div>
		</div>
	</div>
	<div class="end_height"></div>
</div>