<div class="container-fluid mt20" ng-controller="sendCtrl">
	<div class="row">
		<div class="col-lg-9 col-md-9 col-sm-10">
			<div class="panel panel-primary">
				<div class="panel-heading"><i class="fa fa-fw fa-plus"></i> 导入快递单</div>
				<div class="panel-body">
					<div class="container-fluid">
						<form name="fileForm" ng-controller="FileController">
							<div class="row">
								<div class="">文件类型： sagawa.csv</div>
							</div>
							<div class="row mt10">
								<button ng-click="chose_file()" class="btn btn-default" ngf-select="" ngf-pattern="'.csv'" name="file" ng-model="upload_file" ngf-multiple="false" required="1">选择文件</button> 
								<i ng-show="fileForm.file.$error.required" class="fa fa-fw fa-star red"></i>
								<span class="green">{{upload_file.name}}</span>
							</div>
							<div class="row mt10">
								<button class="btn btn-primary btn-sm mr10" ng-disabled="!fileForm.$valid" ng-click="submit('sagawa','csv','express')"><i class="fa fa-upload fa-fw"></i> 导 入</button>
								<button class="btn btn-success btn-sm" ng-click="look_express()"><i class="fa fa-feed fa-fw"></i> 检 测</button>
							</div>
							<div class="row mt10">
								<div class="col-lg-11">
									<div class="progress" ng-show="progress_bar >=0">
										<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{progress_bar}}" aria-valuemin="0" aria-valuemax="100" style="width:{{progress_bar}}%">
										{{progress_bar}}%
										</div>
									</div>
								</div>
								<div class="col-lg-1 green fa fa-fw fa-check" ng-show="upload_ok"></div>
							</div>
							<div ng-show="e_import">
								已导入：<span class="green">{{e_import.insert_num}}</span> 条 <br>
								已存在：<span class="red">{{e_import.has_num}}</span> 条
							</div>
						</form>
						<div ng-show="express_response" class="well mt20">
							<i class="fa fa-fw fa-inbox green"></i>已导入：<span class="green">{{express_response.insert_num}}</span> 条
							<table class="table table-bordered mt20 table-condensed f12">
								<tr class="success green">
									<td><i class="fa fa-fw fa-sort-numeric-asc"></i></td>
									<td>包裹ID</td>
									<td>快递单号</td>
									<td>快递公司</td>
									<td>配送方式</td>
									<td>发货日期</td>
								</tr>
								<tr ng-repeat="item in express_response.look_data track by $index" class="s_gray">
									<td>{{$index+1}}</td>
									<td>{{item.pack_id}}</td>
									<td>{{item.express_num}}</td>
									<td>{{item.express_name}}</td>
									<td>{{item.express_method}}</td>
									<td>{{item.express_date}}</td>
								</tr>
							</table> 
						</div>
					</div>

				</div>
				<div class="panel-footer">
					选择文件上传快递单；<br>
					点击【检测】查看上传单号；<br>
					点击【清空】清空未完成的更新单号；<br>
					点击【更新】更新单号到订单并close。
				</div>
			</div>
		</div>
	</div>
	<div class="end_height"></div>
</div>