<div class="container-fluid mt20" ng-controller="storeCtrl" ng-show="now_store_bar">
	<div class="row">
		<div class="col-lg-6 col-md-8 col-sm-10">
			<div class="panel panel-primary pull-left">
				<div class="panel-heading"><i class="fa fa-fw fa-envelope-o"></i> 邮件模板</div>
				<div class="panel-body">			
					<div data-animation="am-fade-and-slide-top" data-template-url="/modal/mail_tpl.html" bs-modal="modal" ng-click="mail_tpl(now_station,now_store_bar)" class="btn btn-default mr10"><i class="fa fa-edit fa-fw"></i> 编 辑</div>
					<div data-animation="am-fade-and-slide-top" data-template-url="/modal/express_mail.html" bs-modal="modal" ng-click="express_mail_modal(now_station,now_store_bar)" class="btn btn-default mr10"><i class="fa fa-envelope fa-fw"></i> 发货通知信模板</div>
					<button style="width:180px;height: 34px;" class="btn mr10" ng-class="{'btn-danger':toggle_btn==0,'btn-success':toggle_btn==1}" ng-click="toggle_send(now_station,now_store_bar)"><span class="flip-in" ng-show="toggle_btn==1">发货通知信（已开启）</span><span class="flip-in" ng-show="toggle_btn==0">发货通知信（已关闭）</span></button>
				</div>
				<div class="panel-footer">修改本店铺的邮件模板。</div>
			</div>
		</div>
	</div>
	<div class="end_height"></div>
</div>