<div class="container-fluid mt20" ng-controller="sendCtrl">
	<div class="row">
		<div class="col-lg-9 col-md-9 col-sm-10">
			<div class="panel panel-success">
				<div class="panel-heading"><i class="fa fa-fw fa-hand-o-left"></i> 佐川发货单</div>
				<div class="panel-body">
					<div class="btn-group mt10">
						<button type="button" class="btn btn_fff btn-sm">
							<select class="btn btn-default btn-sm selecter pull-left mr5 blue" ng-model="select_repo">
								<option value="">仓库选择 ..</option>
								<option value="中">中国仓</option>
								<option value="日">日本仓</option>
								<option value="中+日">中+日</option>
							</select>
							<span>
								<input placeholder="开始日期" class="date_icon blue" readonly="readonly" type="text" name="s_date" ng-flat-datepicker datepicker-config="datepickerConfig" ng-model="s_date"> - <input placeholder="结束日期" class="date_icon blue" readonly="readonly" type="text" name="e_date" ng-flat-datepicker datepicker-config="datepickerConfig" ng-model="e_date">
							</span>
						</button>
						<button ng-click="send_table('new','zuochuan')" class="btn btn-info" ng-disabled="!select_repo || !s_date || !e_date">最新</button>
						<button ng-click="send_table('down','zuochuan')" class="btn btn-success" ng-disabled="!select_repo || !s_date || !e_date">下载</button>
					</div>
					<hr>
					<div class="ml20 mt20">
						<form name="fileForm" ng-controller="FileController">
							<div class="row">
								<div class="">文件类型： sagawa.csv</div>
							</div>
							<div class="row mt10">
								<button ng-click="chose_file()" class="btn btn-default" ngf-select="" ngf-pattern="'.csv'" name="file" ng-model="upload_file" ngf-multiple="false" required="1">选择文件</button> 
								<i ng-show="fileForm.file.$error.required" class="fa fa-fw fa-star red"></i>
								<span class="green">{{upload_file.name}}</span>
							</div>
							<div class="row mt10">
								<button class="btn btn-primary btn-sm mr10" ng-disabled="!upload_file" ng-click="submit('sagawa','csv','express')"><i class="fa fa-upload fa-fw"></i> 导 入</button>
							</div>
							<div class="row mt10">
								<div class="col-lg-11">
									<div class="progress" ng-show="progress_bar >=0">
										<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{progress_bar}}" aria-valuemin="0" aria-valuemax="100" style="width:{{progress_bar}}%">
										{{progress_bar}}%
										</div>
									</div>
								</div>
								<div class="col-lg-1 green fa fa-fw fa-check" ng-show="upload_ok"></div>
							</div>
							<div ng-show="e_import">
								已导入：<span class="green">{{e_import.insert_num}}</span> 条 <br>
								已存在：<span class="red">{{e_import.has_num}}</span> 条
							</div>
						</form>
					</div>
				</div>
				<div class="mt20"></div>
				<div class="panel-footer">
					选择日期区间生成对应仓库的发货单。<br>
					选择文件，导入快递系统生成的快递单。
				</div>
			</div>
		</div>
	</div>
	<div class="end_height"></div>
</div>