<div class="container-fluid" ng-controller="pauseorderCtrl">
	<div class="btn-group pull-left">
        <div class="btn btn-primary btn-sm mt10" ng-click="show_pause_info()" ng-model="radioModel" uib-btn-radio="'Left'">冻结表</div>
        <div class="btn btn-primary btn-sm mt10" ng-click="show_back_info()" ng-model="radioModel" uib-btn-radio="'Right'">退押表</div>
    </div>
	<div ng-show="all_pause_orders!='' && radioModel=='Left'" class="btn-group pull-right">
		<button class="btn btn-default mt10 btn-sm" ng-click="sss()"><i class="fa fa-cubes fa-fw"></i> 扣库存</button>
		<button class="btn btn-default mt10 btn-sm green" ng-click="down_pauseorders()"><i class="fa fa-download fa-fw"></i> 下载冻结表</button>
	</div>
	<div class="clearfix"></div>

	<table ng-show="all_pause_orders" class="table-responsive table table-bordered table-condensed table-hover table-striped mt20 f12">
		<tr class="blue info animate slide-right">
			<td class="tagc"><i class="fa-sort-numeric-asc fa fa-fw"></i></td>
			<td>店铺</td>
			<td>订单号</td>
			<td>商品代码</td>
			<td>数量</td>
			<td>押中国</td>
			<td>押日本</td>
			<td>子订单价</td>
			<td>代引金额</td>
			<td class="tagc">操作</td>
		</tr>
		<tr class="am-fade-and-slide-right blue" ng-repeat="item in all_pause_orders track by $index">
			<td class="tagc">{{$index+1}}</td>
			<td>{{item.store}}</td>
			<td>{{item.order_id}}</td>
			<td>{{item.goods_code}}</td>
			<td class="tagr">{{item.goods_num}}</td>
			<td class="tagr" ng-class="{'red':item.pause_ch>'0'}">{{item.pause_ch}}</td>
			<td class="tagr" ng-class="{'red':item.pause_jp>'0'}">{{item.pause_jp}}</td>
			<td class="tagr">{{item.item_price}}</td>
			<td class="tagr">{{item.cod_money}}</td>
			<td class="tagc" ng-show="radioModel=='Left'"><div ng-click="back_pause(item.id,item.store)" class="btn btn-xs btn-primary">退押</div></td>
			<td class="tagc" ng-show="radioModel=='Right'">
				<div class="btn btn-xs btn-primary mr5" data-animation="am-fade-and-slide-top" data-template-url="/modal/edit_pause_item.html" bs-modal="modal" ng-click="pause_modal(item.id,item.store)">
					<i class="fa fa-edit fa-fw"></i>编辑
				</div>
				<div class="btn btn-xs btn-success mr5" ng-click="to_pause(item.id,item.store)">
					<i class="fa fa-undo fa-fw"></i>还原
				</div>
				<div class="btn btn-xs btn-danger" data-animation="am-fade-and-slide-top" data-template-url="/modal/del_pause_item.html" bs-modal="modal" ng-click="pause_modal(item.id,item.store)">
					<i class="fa fa-trash-o fa-fw"></i>删除
				</div>
			</td>
		</tr>
	</table>
	
	<div class="end_height"></div>
</div>