<div class="" ng-controller="readysendCtrl">
	<button class="btn btn-warning mt10" ng-click="packing()" ng-show="search_field==''"><i class="fa fa-gift fa-fw"></i>打包</button>
	<button class="btn btn-success mt10 ml10" ng-click="down_packing()" ng-show="search_field==''"><i class="fa fa-table fa-fw"></i>中国打包表</button>
	<button class="btn btn-primary mt10 ml10" ng-click="to_wait()" ng-show="search_field==''"><i class="fa fa-mail-forward fa-fw"></i>转入待回单</button>

	<button class="btn btn-danger mt10" ng-click="to_back_repo()" ng-show="search_field=='send_id'" ng-disabled="!search_key"><i class="fa fa-mail-forward fa-fw"></i>退库</button>

	<div class="btn-group ml10 mt10 pull-left mr20">
		<div class="btn btn-default btn-sm">
			<select class="btn btn-default btn-sm selecter pull-left mr5 blue" ng-model="search_field" ng-change="change_search_field()">
				<option value="">所有待出单 ..</option>
				<option value="order_id">订单号</option>
				<option value="send_id">合单发货ID</option>
				<option value="goods_code">商品代码</option>
				<option value="who_name">收件人</option>
			</select>
			<span ng-hide="search_field==''">
				<input style="width:220px;" class="key_words blue" ng-model="search_key" type="text" placeholder="关键词 ..">
			</span>
		</div>
		<button class="btn btn-primary" ng-click="filter_bar_submit()"><i class="fa fa-search fa-fw"></i></button>
	</div>
	<div class="clearfix"></div>

	<table ng-show="send_table" class="table-responsive table table-bordered table-condensed table-hover table-striped mt20 f12">
		<tr class="success green animate slide-right">
			<td class="tagc"><i class="fa-sort-numeric-asc fa fa-fw"></i></td>
			<td>合单ID</td>
			<td>店铺</td>
			<td>导入日期</td>
			<td>订单号</td>
			<!-- <td>OMS-ID</td> -->
			<!-- <td>INFO-ID</td> -->
			<td>快递公司</td>
			<td>配送方式</td>
			<td>运费代码</td>
			<td>包裹ID</td>
			<!-- <td>SKU（出品SKU，客人看）</td> -->
			<td>商品代码</td>
			<td>数</td>
			<td>日</td>
			<td>中</td>
			<td>单</td>
			<!-- <td>电话</td> -->
			<!-- <td>邮编</td> -->
			<!-- <td>地址</td> -->
			<td>收件人</td>
			<td>代引</td>
			<!-- <td>是否自提</td> -->
			<!-- <td>email</td> -->
			<!-- <td>店铺</td> -->
			<td class="tagc">担当</td>
			<!-- <td class="tagc">操作</td> -->
			<!-- <td>item_line</td> -->
		</tr>
		<tr class="am-fade-and-slide-right s_gray" ng-repeat="item in send_table track by $index">

			<td class="tagc">{{$index+1}}</td>
			<td ng-class="{'red warning':item.send_id.indexOf('H') >= 0}">{{item.send_id}}</td>
			<td>{{item.store_name}}</td>
			<td class="red">{{item.import_day}}</td>
			<td ng-class="{'green':item.table_status=='1'}">{{item.order_id}}</td>
			<!-- <td>{{item.oms_id}}</td> -->
			<!-- <td>{{item.info_id}}</td> -->
			<td>{{item.express_company}} <i class="fa fa-edit pointer" data-animation="am-fade-and-slide-top" data-template-url="/modal/change_company.html" bs-modal="modal" ng-click="new_company=item.express_company;new_method=item.send_method"></i></td>
			<td>{{item.send_method}}</td>
			<td class="tagc">{{item.yfcode}}</td>
			<td>{{item.pack_id}}</td>
			<!-- <td>{{item.sku}}</td> -->
			<td ng-class="{'red danger':item.error_info=='no_sku'}">{{item.goods_code}}
			</td>
			<td class="tagr">{{item.out_num}}</td>
			<td class="tagr">{{item.pause_jp}}</td>
			<td class="tagr">{{item.pause_ch}}</td>
			<td class="tagc"><span ng-show="item.repo_status ==''" style="background: red;color:#FFF;padding:2px 4px;">&nbsp;&nbsp;</span>{{item.repo_status}}</td>
			<!-- <td>{{item.who_tel}}</td> -->
			<!-- <td>{{item.who_post}}</td> -->
			<!-- <td>{{item.who_house}}</td> -->
			<td>{{item.who_name | name_filter}}</td>
			<!-- <td>{{item.is_cod}}</td> -->
			<td class="tagr" ng-class="{'red':item.is_cod=='COD'}">{{item.due_money}}</td>
			<!-- <td>{{item.need_not_send}}</td> -->
			<!-- <td>{{item.who_email}}</td> -->
			<!-- <td>{{item.store_name}}</td> -->
			<td class="green tagc">{{item.holder}}</td>
			<!-- <td class="tagc">
				<i popover-placement="top-right" uib-popover="【 {{item.want_date}} 】{{item.want_time}}" popover-trigger="'mouseenter'" ng-show="item.want_date!==null || item.want_time!==null" class="fa fa-fw fa-clock-o pointer yellow"></i>
				<i ng-hide="item.order_id==0" class="fa fa-edit fa-fw pointer" data-animation="am-fade-and-slide-top" data-template-url="/modal/show_send_info.html" bs-modal="modal" ng-click="show_send_info(item.id)"></i>
				<i ng-hide="item.order_id==0" class="fa fa-trash-o fa-fw red pointer" data-animation="am-fade-and-slide-top" data-template-url="/modal/del_send_item.html" bs-modal="modal" ng-click="show_send_info(item.id)"></i>
			</td> -->
			<!-- <td>{{item.item_line}}</td> -->
		</tr>
	</table>
	<nav>
		<ul class="pagination" ng-show="send_table">
			<li class="pointer" ng-class="{disabled:pre_overflow}">
				<a class="pg_s" ng-click="Previous()">
					<span class="fa fa-angle-left fa-fw"></span>上一页
				</a>
			</li>
			<li class="pointer" ng-repeat="page in pageList track by $index" ng-class="{active: isActivePage(page)}" >
				<a ng-click="selectPage(page)" >{{ page }}</a>
			</li>
			<li class="pointer" ng-class="{disabled:next_overflow}">
				<a ng-click="Next()">
					下一页<span class="fa fa-angle-right fa-fw"></span>
				</a>
			</li>
			<li class="disabled">
				<a>
					每页
					<input class="page_size tagr" type="number" min="1" ng-model='change_size' ng-value="pageSize" ng-change="change_pageSize()">条</a>
			</li>
			<li>
				<a>
					<select ng-model="selectOption" style="margin:-3px 1px -2px 1px;" ng-change="clickOption()" ng-options="c as c for c in pageOption">
						<option value="">跳转</option>
					</select>
				</a>
			</li>
			<li class="disabled">
				<a class="pg_e">Page {{selPage}} / {{pages}}</a>
				<a>共 {{all_num}} 条</a>
			</li>
		</ul>
	</nav>
	<div class="end_height"></div>
</div>