<div class="container-fluid" ng-controller="tableCtrl">
	<div class="btn-group ml20">
		<button class="btn btn-default mt10 btn-sm blue" ng-click="look_pause()"><i class="fa fa-eye fa-fw"></i> 查 看</button>
		<button class="btn btn-default mt10 btn-sm green" ng-click="down_pause()" ng-show="pause_table"><i class="fa fa-download fa-fw"></i> 下 载</button>
	</div>
	<div class="clearfix"></div>
	<div class="col-lg-7 col-md-8 ml5">
		<table ng-show="pause_table" class="table-responsive table table-bordered table-condensed table-hover table-striped mt20 f12">
		<tr class="blue info animate slide-right">
			<td class="tagc"><i class="fa-sort-numeric-asc fa fa-fw"></i></td>
			<td>商品代码</td>
			<td>冻结数</td>
			<td class="tagc">订单导入日期</td>
		</tr>
		<tr ng-dblclick="bg_yellow=!bg_yellow" ng-class="{'bg_yellow':bg_yellow}" class="am-fade-and-slide-right" ng-repeat="item in pause_table track by $index">
			<td class="tagc">{{$index+1}}</td>
			<td>{{item.goods_code}}</td>
			<td class="tagr">{{item.pause_num}}</td>
			<td class="tagc">{{item.import_time}}</td>
		</tr>
	</table>
	</div>
	<div class="end_height"></div>
</div>