<div class="modal op_red" tabindex="-1" role="dialog">
  <div class="modal-dialog" style="width:500px;">
    <div class="modal-content">
      <div class="modal-header">
        <i class="fa fa-close f20 close" ng-click="$hide()"></i>
        <h4 class="modal-title red"><i class="fa fa-fw fa-exclamation-triangle"></i> 警 告</h4>
      </div>
      <div class="modal-body">
        <div ng-show="my_checked!=''" class="blue">确定删除以下订单？</div>
        <table ng-show="my_checked!=''" class="table table-bordered table-condensed mt20 red">
          <tr class="f12"><td class="tagc danger">序号</td><td class="tagc danger">订单号</td></tr>
          <tr ng-repeat="(key,val) in my_checked track by $index"><td class="tagc blue warning">{{$index+1}}</td><td class="tagc warning">{{val}}</td></tr>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" ng-show="del_true=='true'" ng-disabled="my_checked==''" class="btn btn-danger" ng-click="del_items('delete');$hide()"><i class="fa fa-fw fa-trash"></i>彻底删除</button>
        <button type="button" ng-show="del_true=='false'" ng-disabled="my_checked==''" class="btn btn-danger" ng-click="del_items('trash');$hide()"><i class="fa fa-fw fa-trash"></i>删 除</button>
        <button type="button" class="btn btn-default" ng-click="$hide()">关 闭</button>
      </div>
    </div>
  </div>
</div>