<div class="modal op_red" tabindex="-1" role="dialog">
  <div class="modal-dialog" style="width:500px;">
    <div class="modal-content">
      <div class="modal-header">
        <i class="fa fa-close f20 close" ng-click="$hide()"></i>
        <h4 class="modal-title red"><i class="fa fa-fw fa-exclamation-triangle"></i> 警 告</h4>
        <div class="modal-body">确定删除工号：<span class="red">{{del_u_num}}</span> 员工：<span class="red">{{del_u_name}}</span> ？</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" ng-click="del_user();$hide()"><i class="fa fa-fw fa-trash"></i>删 除</button>
        <button type="button" class="btn btn-default" ng-click="$hide()">关 闭</button>
      </div>
    </div>
  </div>
</div>