<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" style="width:600px;">
    <div class="modal-content">
      <div class="modal-header modal-drag">
        <i class="fa fa-close f20 close" ng-click="$hide()"></i>
        <h4 class="modal-title blue"><i class="fa fa-fw fa-info-circle"></i> 订单号 <span class="red">{{item.order_id}}</span> </h4>
      </div>
      <div class="modal-body">
        <table class="tagl table table-hover table-bordered table-condensed" ng-repeat="item in pause_modal_data track by $index">
          <tr>
            <td class="s_gray" style="width:30%">商品代码</td>
            <td class="s_gray">{{item.goods_code}}
            </td>
          </tr>
          <tr>
            <td class="s_gray">数量</td>
            <td class="blue">{{item.goods_num}}
              <i ng-click="aa_goods_num=!aa_goods_num;check_repo(item.goods_code)" 
                class="fa fa-edit fa-fw pointer"
                ></i>
                <span ng-show="repo_num" class="blue">库存：{{repo_num}} (日{{b_repo_num}}+中{{a_repo_num}})</span>
              <div ng-show="aa_goods_num" class="input-group">
                <input ng-blur="check_int('goods_num')" class="form-control input-sm" placeholder="数量 更改为..." type="number" id="goods_num">
                <span class="input-group-btn">
                  <button class="btn btn-default btn-danger btn-sm" type="button" ng-click="change_pause_field(item.id,'goods_num',item.order_id,item.store);aa_goods_num=!aa_goods_num">确定</button>
                </span>
              </div>
            </td>
          </tr>
          <tr>
            <td class="s_gray">子订单价格</td>
            <td class="s_gray">{{item.unit_price}} × {{item.goods_num}} = {{item.item_price}}</td>
          </tr>
          <tr>
            <td class="s_gray">代引金额</td>
            <td class="s_gray">{{item.cod_money}}</td>
          </tr>
        </table>
        <div class="clearfix"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="$hide()">关 闭</button>
      </div>
    </div>
  </div>
</div>