<div class="modal" tabindex="-1" role="dialog" ng-controller="storeCtrl">
<style>
.pointer:hover{
  background: #fcf8e3;
}
</style>
  <div class="modal-dialog" style="width:785px;">
    <div class="modal-content">
      <div class="modal-header">
        <i class="fa fa-close f20 close" ng-click="$hide()"></i>
        <h4 class="modal-title blue"><i class="fa fa-fw fa-envelope"></i> {{express_mail_modal_store}} 发货通知信</h4>
      </div>
      <div class="modal-body">
        <table class="table table-condensed table-bordered f12">
          <tr>
            <td class="pointer" ng-click="add_var('#buyer_name#')">购买人<div class="red">#buyer_name#</div></td>
            <td class="pointer" ng-click="add_var('#receive_name#')">收件人<div class="red">#receive_name#</div></td>
            <td class="pointer" ng-click="add_var('#order_id#')">订单号<div class="red">#order_id#</div></td>
            <td class="pointer" ng-click="add_var('#order_info#')">商品明细<div class="red">#order_info#</div></td>
          </tr>
          <tr>
            <td class="pointer" ng-click="add_var('#express_company#')">快递公司<div class="red">#express_company#</div></td>
            <td class="pointer" ng-click="add_var('#send_method#')">配送方式<div class="red">#send_method#</div></td>
            <td class="pointer" ng-click="add_var('#express_num#')">快递单号<div class="red">#express_num#</div></td>
            <td class="pointer" ng-click="add_var('#pin_book#')">纳品书<div class="red">#pin_book#</div></td>
          </tr>
        </table>

        <hr>
        <input class="form-control" ng-model="express_mail_modal_topic" type="text" placeholder="主题">
        <div style="color:#000;height: 200px;" ng-model="express_mail_html" contenteditable="true"></div>
        <div class="mt10">
          <textarea rows="3" style="resize: none;" 
                    required="required"
                    placeholder="此处为客户邮箱无法读取富文本内容时所呈现的内容。请务必使用纯文本格式且不要使用回车。" 
                    class="form-control input-sm" 
                    ng-model="express_mail_txt"></textarea>  
        </div>
        <div class="input-group col-lg-6 col-lg-offset-6 mt10">
          <input class="form-control" ng-model="test_mail" type="text" placeholder="测试邮箱@xxx.com">
          <span class="input-group-btn"><button ng-click="test_send_mail('send_express')" ng-disabled="!test_mail" class="btn btn-primary"><i class="fa fa-send fa-fw"></i> 测 试</button></span>
        </div>
        <hr>
        注：<商品明细> 和 <纳品书> 不能放入邮件主题，即使放入后也将视为空值对待。
      </div>
      <div class="modal-footer">
        <button type="button" ng-disabled="" class="btn btn-info" ng-click="save_express_mail();$hide()"><i class="fa fa-fw fa-save"></i> 保 存</button>
        <button type="button" class="btn btn-default" ng-click="$hide()">关 闭</button>
      </div>
    </div>
  </div>
</div>