<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" style="width:500px;">
    <div class="modal-content">
      <div class="modal-header">
        <i class="fa fa-close f20 close" ng-click="$hide()"></i>
        <h4 class="modal-title yellow"><i class="fa fa-fw fa-undo"></i>重置密码</h4>
      </div>
      <div class="modal-body">
        确定重置工号：<span class="red">{{re_pwd_u_num}}</span> 员工：<span class="red">{{re_pwd_u_name}}</span> 的密码？
      </div>
      <div class="modal-footer">
        <!-- 亚马逊按钮 -->
        <button type="button" class="btn btn-warning" ng-click="re_pwd_user();$hide()"><i class="fa fa-fw fa-undo"></i>重 置</button>
        <button type="button" class="btn btn-default" ng-click="$hide()">关 闭</button>
      </div>
    </div>
  </div>
</div>