<div class="modal" tabindex="-1" role="dialog" ng-controller="orderCtrl">
  <div class="modal-dialog" style="width:800px;">
    <div class="modal-content">
      <div class="modal-header">
        <i class="fa fa-close f20 close" ng-click="$hide()"></i>
        <h4 class="modal-title blue"><i class="fa fa fa-envelope-o fa-fw"></i> 发 信</h4>
      </div>
      <div class="modal-body" ng-hide="send_ok_num">
          <div ng-show="my_checked!=''" class="blue">发信至以下订单：</div>
          <table ng-show="my_checked!=''" class="table table-bordered table-condensed mt10">
            <tr class="f12 info"><td class="tagc blue">序号</td><td class="tagc blue">订单号</td></tr>
            <tr ng-repeat="(key,val) in my_checked track by $index"><td class="tagc blue">{{$index+1}}</td><td class="tagc blue">{{val}}</td></tr>
          </table>
          <div ng-show="my_checked!=''"><hr></div>
          <div ng-show="my_checked!=''" class="blue mt20">选择邮件模板：
			     <select class="selecter" ng-model="to_mail_tpl" ng-change="read_mail_info()">
	          	<option value="">选择模板..</option>
	          	<option ng-repeat="item in mail_tpls track by $index" value="{{item.id}}">{{item.model_name}}</option>
	          </select>
          </div>          
          <div class="mt10" ng-show="to_mail_tpl!==''">
  	        <div class="panel panel-success">
      			  <div class="panel-heading"><span class="red">主题：</span><span id='mail_info_topic'></span></div>
      			  <div class="panel-body" id='mail_info_html'></div>
      			</div>
          </div>
      </div>
      <div class="modal-body ml20" ng-show="send_ok_num">
          <!-- 反馈结果 -->
          <div>发送成功数：<span class="green">{{send_ok_num}}</span></div>
          <div>发送失败数：<span class="red">{{send_error_num}}</span></div>
          <table ng-show="send_error_num" class="table table-bordered table-condensed table-striped mt10">
            <tr class="danger red">
              <td class="tagc"><i class="fa-sort-numeric-asc fa fa-fw"></i></td>
              <td>发件失败订单号</td>
              <td>错误详情</td>
            </tr>
            <tr ng-repeat="item in error_mail track by $index">
              <td class="tagc green">{{$index+1}}</td>
              <td class="blue">{{item.error_order_id}}</td>
              <td class="red">{{item.error_info}}</td>
            </tr>
          </table>
      </div>
      <div class="modal-footer">
        <button type="button" ng-hide="send_ok_num" ng-disabled="my_checked==''||to_mail_tpl==''" class="btn btn-primary" ng-click="amz_mail_items()"><i class="fa fa-fw fa-paper-plane"></i> 发 送</button>
        <button type="button" class="btn btn-default" ng-click="$hide()">关 闭</button>
      </div>
    </div>
  </div>
</div>