<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" style="width:1100px;">
    <div class="modal-content">
      <div class="modal-header modal-drag">
        <i class="fa fa-close f20 close" ng-click="$hide()"></i>
        <h4 class="modal-title blue">合单号：<span class="red">{{item.send_id}}</span></h4>
      </div>
      <div class="modal-body">
        
        <table class="tagl table table-hover table-condensed table-bordered">
          <tr class="info blue">
            <td>品名</td>
            <td>订单号</td>
            <td ng-hide="now_station=='Amazon'">运费代码</td>
            <td>SKU</td>
            <td>商品代码</td>
            <td>数量</td>
            <td>单价</td>
            <td>子订单价格</td>
            <td>代引手续费</td>
            <td>押日本</td>
            <td>押中国</td>
            <td>扣库状态</td>
          </tr>
          <tr ng-repeat="item2 in one_res_info track by $index">
            <!-- 品名 -->
            <td class="s_gray tagc">
              <i class="fa fa-apple pointer" popover-placement="top-left" uib-popover="【 {{item2.goods_title}} 】" popover-trigger="'click'"></i>
            </td>
            <td>{{item2.order_id}}</td>
            <!-- 运费代码 -->
            <td ng-hide="now_station=='Amazon'" class="green" ng-class="{'danger red':item2.yfcode_ok==2}">{{item2.yfcode}}
            </td>
            <!-- sku -->
            <td>{{item2.sku}}</td>
            <td class="green" ng-class="{'danger red':item2.sku_ok==2}">{{item2.goods_code}}
              <i ng-click="check_repo(item2.goods_code,item2.id,item2.order_id);open_repo='1'" 
                class="fa fa-cubes fa-fw pointer"
                ng-hide="item.order_line>2"
                ></i>
                <span class="blue" ng-show="open_repo=='1'">(日{{item2.b_repo_num}}+中{{item2.a_repo_num}}) </span>
            </td>
            <!-- 个数 -->
            <td class="blue tagr">{{item2.goods_num}}
            </td>
            <!-- 单价 -->
            <td class="yellow tagr">{{item2.unit_price}}
            </td>
            <!-- 子订单价格 -->
            <td class="yellow tagr">{{item2.item_price}}</td>
            <!-- 代引手续费 -->
            <td class="yellow tagr">{{item2.cod_money}}
            </td>
            <!-- 押日本 -->
            <td class="red tagr">{{item2.pause_jp}}</td>
            <!-- 押中国 -->
            <td class="red tagr">{{item2.pause_ch}}</td>
            <!-- 扣库状态 -->
            <td class="red">{{item2.is_pause | is_pause}}</td>
          </tr>
          <tr class="tagr blue bg_f5">
            <td class="tagc">合 计</td>
            <td ng-hide="now_station=='Amazon'"></td>
            <td></td>
            <td></td>
            <td></td>
            <td>{{one_res_info | sum:'goods_num'}}</td>
            <td></td>
            <td>{{one_res_info | sum:'item_price'}}</td>
            <td>{{one_res_info | no_sum:'cod_money'}}</td>
            <td>{{one_res_info | sum:'pause_jp'}}</td>
            <td>{{one_res_info | sum:'pause_ch'}}</td>
            <td></td>
          </tr>
        </table>
        <div class="clearfix"></div>
        <table ng-show="one_res_logs!=''" class="tagl table table-hover table-condensed table-bordered mt20">
          <tr class="warning">
            <td style="width:50px;" class="tagc">操作人</td>
            <td>操作日志</td>
            <td style="width:138px;">时 间</td>
          </tr>
          <tr style="color: #8a6d3b;" ng-repeat="item_log in one_res_logs track by $index">
            <td class="tagc">{{item_log.who_name}}</td>
            <td>{{item_log.who_do}}</td>
            <td class="tagc">{{item_log.do_time}}</td>
          </tr>
        </table>
        <div class="clearfix"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="$hide()">关 闭</button>
      </div>
    </div>
  </div>
</div>