<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" style="width:1000px;">
    <div class="modal-content">
      <div class="modal-header modal-drag">
        <i class="fa fa-close f20 close" ng-click="$hide()"></i>
        <h4 class="modal-title blue"><i class="fa fa-fw fa-info-circle"></i>
          [{{item.id}}] <span class="dark">{{item.order_line | order_line}}</span> 
          <span class="red"> {{item.order_id}}</span></h4>
      </div>
      <div class="modal-body">
        <table class="tagl table table-hover table-bordered table-condensed" ng-repeat="item in one_res_list track by $index">
          <!--///////////////////// line /////////////////////-->
          <tr class="bg-success">
            <td style="width:40%;">
              <span class="dark">注文时间：</span>
              <span class="green">{{item.purchase_date}}</span>
            </td>
            <td>
              <span class="dark">订单号：</span> 
              <span class="red">{{item.order_id}}</span>
            </td>
          </tr>
          <!--///////////////////// line /////////////////////-->
          <tr>
            <td ng-show="now_station=='Amazon'" rowspan="3" class="s_gray">
              <i class="fa fa-user">&nbsp;&nbsp; {{item.buyer_name}}</i><br>
            </td>
            <td ng-hide="now_station=='Amazon'" rowspan="3" class="s_gray">
              <i class="fa fa-user">&nbsp;&nbsp; {{item.buyer_name}}</i>&nbsp;&nbsp;
              <i class="fa fa-phone" ng-hide="now_station=='Amazon'">&nbsp;&nbsp; {{item.buyer_phone}}</i>&nbsp;&nbsp;
              <i class="fa fa-truck" ng-hide="now_station=='Amazon'">&nbsp;&nbsp; {{item.buyer_post_code}}</i>&nbsp;&nbsp;
              <i class="fa fa-home" ng-hide="now_station=='Amazon'">&nbsp;&nbsp; {{item.buyer_address}}</i>&nbsp;&nbsp;
              <i class="fa fa-id-card-o" ng-show="item.who_id">&nbsp;&nbsp; {{item.who_id}}</i>
            </td>
          </tr>
          <!--///////////////////// line /////////////////////-->
          <tr>
            <td class="s_gray">
              订单金额：<span class="blue">{{item.order_total_money}}</span>
              总金额：<span class="blue">{{item.all_total_money}}</span>
            </td>
          </tr>
          <!--///////////////////// line /////////////////////-->
          <tr>
            <td class="s_gray">
              <span class="red bg_yellow" ng-show="item.payment_method=='COD'">代引金额：{{item.pay_money}}</span>
              <span ng-show="item.coupon">优惠券：<span ng-class="{'red bg_yellow':item.coupon!=0}">{{item.coupon}}</span></span>
              <span ng-show="item.points">
                积分：<span ng-class="{'red bg_yellow':item.points!=0}">{{item.points}}
                <i ng-click="aa_points=!aa_points" 
                    class="fa fa-edit fa-fw pointer"
                    ng-hide="item.order_line>3"
                    ></i>
                  <div ng-show="aa_points" class="input-group">
                    <input class="form-control input-sm" placeholder="积分 更改为..." type="text" id="points">
                    <span class="input-group-btn">
                      <button class="btn btn-default btn-danger btn-sm" type="button" ng-click="need_check_list('points',item.order_id);aa_points=!aa_points">确定</button>
                    </span>
                  </div>
                </span>
              </span>
              <span ng-hide="now_station=='Amazon'">
                支付金额：<span class="red">{{item.pay_money}}
                  <i ng-click="aa_pay_money=!aa_pay_money" 
                    class="fa fa-edit fa-fw pointer"
                    ng-hide="item.order_line>3"
                    ></i>
                  <div ng-show="aa_pay_money" class="input-group">
                    <input class="form-control input-sm" placeholder="支付金额 更改为..." type="text" id="pay_money">
                    <span class="input-group-btn">
                      <button class="btn btn-default btn-danger btn-sm" type="button" ng-click="need_check_list('pay_money',item.order_id);aa_pay_money=!aa_pay_money">确定</button>
                    </span>
                  </div>
                </span>
              </span>
              <span ng-hide="now_station=='Amazon'">&nbsp;&nbsp;|&nbsp;&nbsp;</span>
              <span class="s_gray">支付方式：</span><span ng-class="{'red bg_yellow':item.payment_method=='COD'}">{{item.payment_method}}</span>
              <i ng-click="aa_payment_method=!aa_payment_method" 
                class="fa fa-edit fa-fw pointer"
                ng-hide="item.order_line>3 || now_station=='Amazon'"
                ></i>
              <div ng-show="aa_payment_method" class="input-group">
                <div ng-show="aa_payment_method" class="btn-group ml20">
                <button type="button" class="btn btn-default btn-sm">
                  <select id="payment_method" class="selecter" ng-model="payment_method">
                    <option value="">更改为...</option>
                    <option value="クレジットカード">クレジットカード</option>
                    <option value="楽天バンク決済">楽天バンク決済</option>
                    <option value="銀行振込">銀行振込</option>
                    <option value="楽天Edy決済">楽天Edy決済</option>
                    <option value="COD">COD</option>
                    <option value="Other">Other</option>
                  </select>
                </button>
                <button class="btn btn-default btn-danger" ng-disabled="payment_method==''" type="button" ng-click="need_check_list('payment_method',item.order_id);aa_payment_method=!aa_payment_method">确定</button>
                </div>
              </div>
            </td>
          </tr>
          <!--///////////////////// line /////////////////////-->
          <tr ng-hide="now_station == 'Amazon'">
            <td class="s_gray">
                客人指定配送：<span class="blue">{{item.buyer_send_method}}</span>&nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;
                运费代码配送：<span class="blue">{{item.send_method}}</span>
            </td>
            <td class="s_gray">
              <span ng-hide="now_station == 'Amazon'">消费税：<span class="yellow">{{item.order_tax}}</span>
                <i ng-click="aa_order_tax=!aa_order_tax" 
                  class="fa fa-edit fa-fw pointer"
                  ng-hide="item.order_line>3"
                  ></i>
                <div ng-show="aa_order_tax" class="input-group">
                  <input class="form-control input-sm" placeholder="消费税 更改为..." type="text" id="order_tax">
                  <span class="input-group-btn">
                    <button class="btn btn-default btn-danger btn-sm" type="button" ng-click="need_check_list('order_tax',item.order_id);aa_order_tax=!aa_order_tax">确定</button>
                  </span>
                </div>
              </span>
            </td>
          </tr>
          <!--///////////////////// line /////////////////////-->
          <tr>
            <td class="s_gray">收件人：<span class="red">{{item.receive_name}}</span>
              <i ng-click="aa_receive_name=!aa_receive_name" 
                class="fa fa-edit fa-fw pointer"
                ng-hide="item.order_line>3"
                ></i>
              <div ng-show="aa_receive_name" class="input-group">
                <input class="form-control input-sm" placeholder="收件人 更改为..." type="text" id="receive_name">
                <span class="input-group-btn">
                  <button class="btn btn-default btn-danger btn-sm" type="button" ng-click="need_check_list('receive_name',item.order_id);aa_receive_name=!aa_receive_name">确定</button>
                </span>
              </div>
            </td>
            <td ng-show="now_station=='Amazon'">-</td>
            <td ng-hide="now_station=='Amazon'" class="s_gray" ng-class="{'danger red':item.shipping_price!=item.all_yfmoney}">运费：{{item.shipping_price}}
              <!-- <i ng-click="aa_shipping_price=!aa_shipping_price" 
                class="fa fa-edit fa-fw pointer"
                ng-hide="item.order_line>3"
                ></i> -->
              <!-- <div ng-show="aa_shipping_price" class="input-group">
                <input class="form-control input-sm" placeholder="运费 更改为..." type="number" id="shipping_price">
                <span class="input-group-btn">
                  <button class="btn btn-default btn-danger btn-sm" type="button" ng-click="need_check_list('shipping_price',item.order_id);aa_shipping_price=!aa_shipping_price">确定</button>
                </span>
              </div> -->
              <i class="fa fa-long-arrow-left red pointer" ng-click="syn_yfcode(item.send_id,item.order_id)">向左同步</i>
              计算运费：{{item.all_yfmoney}}
            </td>
          </tr>
          <!--///////////////////// line /////////////////////-->
          <tr >
            <td class="s_gray">
              收件电话：
              <span class="s_gray" ng-class="{'danger red':item.tel_ok==2}">{{item.phone}}
                <i ng-click="aa_phone=!aa_phone" 
                  class="fa fa-edit fa-fw pointer"
                  ng-hide="item.order_line>3"
                  ></i>
                <div ng-show="aa_phone" class="input-group">
                  <input class="form-control input-sm" placeholder="电话 更改为..." type="text" ng-keyup="check_phone()" id="phone">
                  <span class="input-group-btn">
                    <button class="btn btn-default btn-danger btn-sm" ng-disabled="!pass_phone" type="button" ng-click="need_check_list('phone',item.order_id);aa_phone=!aa_phone">确定</button>
                  </span>
                </div>
              </span>
            </td>
            <td class="s_gray" ng-class="{'danger red':item.post_ok==2}">收件邮编：{{item.post_code}}
              <i ng-click="aa_post_addr=!aa_post_addr" class="fa fa-edit fa-fw pointer"></i>
              <i class="fa fa-lightbulb-o fa-fw pointer blue" ng-hide="item.order_line>3" ng-click="read_oms_post(item.post_code)"></i>
              <input ng-show="aa_post_addr" type="text" id="new_post_code" style="width:80px;padding-left: 4px;" placeholder=".. 新的邮编" value="{{item.post_code}}">
              <i ng-show="aa_post_addr" class="fa fa-lightbulb-o fa-fw pointer blue" ng-click="read_oms_post2(item.post_code)"></i>
            </td>
            
          </tr>   
          <!--///////////////////// line /////////////////////-->
          <tr class="s_gray">
            <td class="s_gray">邮箱：{{item.buyer_email}}
              <i ng-click="aa_email=!aa_email" 
                class="fa fa-edit fa-fw pointer"
                ng-hide="item.order_line>3"
                ></i>
              <div ng-show="aa_email" class="input-group">
                <input class="form-control input-sm" placeholder="邮箱 更改为..." type="text" id="buyer_email">
                <span class="input-group-btn">
                  <button class="btn btn-default btn-danger btn-sm" type="button" ng-click="need_check_list('buyer_email',item.order_id);aa_email=!aa_email">确定</button>
                </span>
              </div>
            </td>
            <td class="s_gray" ng-class="{'danger red':item.post_ok==2}">
               收件地址： {{item.address}}
              <i ng-click="aa_post_addr=!aa_post_addr" class="fa fa-edit fa-fw pointer"></i>
            </td>
          </tr>
          <!--///////////////////// line /////////////////////-->
          <tr ng-repeat="item in now_post_name track by $index" ng-show="now_post_name">
            <td></td>
            <td class="blue warning">参考地域： {{item.post_name}}</td>
          </tr>
          <!--///////////////////// line /////////////////////-->
          <tr ng-show="aa_post_addr">
            <td></td> 
            <td>
              <div class="pull-left">新的地址：</div>
              <div class="pull-left" style="width: 70%;">
                <div class="input-group">
                  <input style="padding-left: 3px;" class="form-control input-sm" type="text" id="new_address" placeholder="新的地址..." value="{{item.address}}">
                  <span class="input-group-btn">
                    <button class="btn btn-default btn-danger btn-sm" type="button" ng-click="change_post_addr(item.order_id);aa_post_addr=!aa_post_addr">确定</button>
                  </span>
                </div>
              </div>
              <div class="clearfix"></div>
            </td>
          </tr>
          <!--///////////////////// line /////////////////////-->
          <tr>
            <td class="s_gray" ng-hide="now_station=='Amazon'">
              <textarea ng-class="{'red op_yellow':item.buyer_others!=''}" placeholder="客人要求" style="resize: vertical;" class="form-control f12 red" id="change_others_key">{{item.buyer_others}}</textarea>
              <button class="btn btn-info btn-xs mt5 pull-right" ng-click="save_others(item.order_id);">更新客人要求</button>
            </td>
            <td ng-show="now_station=='Amazon'">最后发货时间：
              <span>{{item.latest_ship_date}}</span>
            </td>
            <td>
              <textarea placeholder="备注内容" style="resize: vertical;" class="form-control f12 red" id="change_note_key">{{item.order_note}}</textarea>
              <button class="btn btn-info btn-xs mt5 pull-right" ng-click="save_note(item.order_id);">更新备注</button>
            </td>
          </tr>
          <!--///////////////////// line /////////////////////-->
          <tr ng-hide="now_station=='Amazon'" class="s_gray">
            <td>指定配送日期：
              <span ng-class="{'red bg_yellow':item.want_date!=''}">{{item.want_date}}</span><i class="fa fa-fw fa-clock-o yellow pointer" data-animation="am-fade-and-slide-top" data-template-url="/modal/want_date.html" bs-modal="modal" ng-click="change_want_date(item.order_id,1);remove_shadow()"></i>
            </td>
            <td>指定配送时间：
              <span ng-class="{'red bg_yellow':item.want_time!=''}">{{item.want_time}}</span><i class="fa fa-fw fa-clock-o yellow pointer" data-animation="am-fade-and-slide-top" data-template-url="/modal/want_date.html" bs-modal="modal" ng-click="change_want_date(item.order_id,1);remove_shadow()"></i>
            </td>
          </tr>
          <!--///////////////////// line /////////////////////-->
          <tr ng-show="item.order_line==6">
            <td class="s_gray">订单配送信息</td>
            <td class="red">{{item.express_day}} / {{item.express_company}} / {{item.send_method}} / {{item.repo_status}} / {{item.oms_order_express_num}} 
            </td>
          </tr>
        </table>
        <table class="tagl table table-hover table-condensed table-bordered">
          <tr class="info blue">
            <td>品名</td>
            <td ng-hide="now_station=='Amazon'">运费代码</td>
            <td>SKU</td>
            <td>商品代码</td>
            <td>数量</td>
            <td>单价</td>
            <td>子订单价格（数量×单价）</td>
            <td>代引手续费</td>
            <td>押日本</td>
            <td>押中国</td>
            <td>扣库状态</td>
            <td ng-hide="item.order_line>2">删除</td>
          </tr>
          <tr ng-repeat="item2 in one_res_info track by $index">
            <!-- 品名 -->
            <td class="s_gray tagc">
              <i class="fa fa-apple pointer" popover-placement="top-left" uib-popover="【 {{item2.goods_title}} 】" popover-trigger="'click'"></i>
          
              <!-- {{item2.goods_title}} -->
            <!-- <i ng-click="aa_goods_title=!aa_goods_title" 
                class="fa fa-edit fa-fw pointer"
                ></i>
              <div ng-show="aa_goods_title" class="input-group">
                <input class="form-control input-sm" placeholder="品名 更改为..." type="text" id="goods_title_{{$index}}">
                <span class="input-group-btn">
                  <button class="btn btn-default btn-danger btn-sm" type="button" ng-click="change_info_field(item2.id,'goods_title',$index,item2.order_id);aa_goods_title=!aa_goods_title">确定</button>
                </span>
              </div> -->
            </td>
            <!-- 运费代码 -->
            <td ng-hide="now_station=='Amazon'" class="green" ng-class="{'danger red':item2.yfcode_ok==2}">{{item2.yfcode}}
              <i class="fa fa-lightbulb-o fa-fw pointer blue" ng-hide="item.order_line>3" ng-click="read_yfcode(item2.yfcode,item2.station,item2.order_id,item2.id);open_yf=1"></i>
              <span ng-show="open_yf==1" class="blue">{{item2.yf_info}}</span>
              <i ng-click="aa_yfcode=!aa_yfcode;read_yfcode_list();yf_change=''" 
                class="fa fa-edit fa-fw pointer"
                ng-hide="item.order_line>2"
                ></i>
              <div ng-show="aa_yfcode" class="btn-group ml20">
                <button type="button" class="btn btn-default btn-sm">
                  <select id="yfcode_{{$index}}" class="selecter" ng-model="yf_change">
                    <option value="">更改为...</option>
                    <option ng-value="item.yf_code_name" ng-repeat="item in yfcode_list track by $index">{{item.yf_code_name}}</option>
                  </select>
                </button>
                <button class="btn btn-default btn-danger" ng-disabled="yf_change==''" type="button" ng-click="change_info_field(item2.id,'yfcode',$index,item2.order_id);aa_yfcode=!aa_yfcode">确定</button>
              </div>
            </td>
            <!-- sku -->
            <td>{{item2.sku}}</td>
            <td class="green" ng-class="{'danger red':item2.sku_ok==2}">{{item2.goods_code}}
              <i ng-click="check_repo(item2.goods_code,item2.id,item2.order_id);open_repo='1'" 
                class="fa fa-cubes fa-fw pointer"
                ng-hide="item.order_line>2"
                ></i>
                <span class="blue" ng-show="open_repo=='1'">(日{{item2.b_repo_num}}+中{{item2.a_repo_num}}) </span>
              <i ng-click="aa_goods_code=!aa_goods_code" 
                class="fa fa-edit fa-fw pointer"
                ng-hide="item.order_line>2"
                ></i>
              <div ng-show="aa_goods_code" class="input-group">
                <input class="form-control input-sm" ng-value="item2.goods_code" placeholder="商品代码 更改为..." type="text" id="goods_code_{{$index}}">
                <span class="input-group-btn">
                  <button class="btn btn-default btn-danger btn-sm" type="button" ng-click="change_info_field(item2.id,'goods_code',$index,item2.order_id);aa_goods_code=!aa_goods_code">确定</button>
                </span>
              </div>
            </td>
            <!-- 个数 -->
            <td class="blue tagr">{{item2.goods_num}}
              <i ng-click="aa_goods_num=!aa_goods_num" 
                class="fa fa-edit fa-fw pointer"
                ng-hide="item.order_line>2"
                ></i>
              <div ng-show="aa_goods_num" class="input-group">
                <input ng-blur="check_int('goods_num_'+$index)" class="form-control input-sm" placeholder="数量 更改为..." type="number" id="goods_num_{{$index}}">
                <span class="input-group-btn">
                  <button class="btn btn-default btn-danger btn-sm" type="button" ng-click="change_info_field(item2.id,'goods_num',$index,item2.order_id);aa_goods_num=!aa_goods_num">确定</button>
                </span>
              </div>
            </td>
            <!-- 单价 -->
            <td class="yellow tagr">{{item2.unit_price}}
              <i ng-click="aa_unit_price=!aa_unit_price" 
                class="fa fa-edit fa-fw pointer"
                ng-hide="item.order_line>2"
                ></i>
              <div ng-show="aa_unit_price" class="input-group">
                <input ng-blur="check_int('unit_price_'+$index)" class="form-control input-sm" placeholder="单价 更改为..." type="number" id="unit_price_{{$index}}">
                <span class="input-group-btn">
                  <button class="btn btn-default btn-danger btn-sm" type="button" ng-click="change_info_field(item2.id,'unit_price',$index,item2.order_id);aa_unit_price=!aa_unit_price">确定</button>
                </span>
              </div>
            </td>
            <!-- 子订单价格 -->
            <td class="yellow tagr">{{item2.item_price}}</td>
            <!-- 代引手续费 -->
            <td class="yellow tagr">{{item2.cod_money}}
              <i ng-click="aa_cod_money=!aa_cod_money" 
                class="fa fa-edit fa-fw pointer"
                ng-hide="item.order_line>2"
                ></i>
              <div ng-show="aa_cod_money" class="input-group">
                <input ng-blur="check_int('cod_money_'+$index)" class="form-control input-sm" placeholder="代引手续费 更改为..." type="number" id="cod_money_{{$index}}">
                <span class="input-group-btn">
                  <button class="btn btn-default btn-danger btn-sm" type="button" ng-click="change_info_field(item2.id,'cod_money',$index,item2.order_id);aa_cod_money=!aa_cod_money">确定</button>
                </span>
              </div>
            </td>
            <!-- 押日本 -->
            <td class="red tagr">{{item2.pause_jp}}</td>
            <!-- 押中国 -->
            <td class="red tagr">{{item2.pause_ch}}</td>
            <!-- 扣库状态 -->
            <td class="red">{{item2.is_pause | is_pause}}</td>
            <td ng-hide="item.order_line>2">
              <div ng-show="del_btn" class="btn btn-xs btn-danger" ng-click="del_item(item2.order_id,item2.id)">删除</div>
              <i ng-click="del_btn=!del_btn" class="fa fa-trash-o red pointer fa-fw"></i>
            </td>
          </tr>
          <tr class="tagr blue bg_f5">
            <td class="tagc">合 计</td>
            <td ng-hide="now_station=='Amazon'"></td>
            <td></td>
            <td></td>
            <td>{{one_res_info | sum:'goods_num'}}</td>
            <td></td>
            <td>{{one_res_info | sum:'item_price'}}</td>
            <td>{{one_res_info | no_sum:'cod_money'}}</td>
            <td>{{one_res_info | sum:'pause_jp'}}</td>
            <td>{{one_res_info | sum:'pause_ch'}}</td>
            <td></td>
            <td ng-hide="item.order_line>2"></td>
          </tr>
        </table>
        <div class="clearfix"></div>
        <div class="btn btn-xs pull-right" ng-hide="item.order_line>2" ng-class="{'btn-success':!add_btn,'btn-danger':add_btn}" ng-click="add_btn = !add_btn;read_yfcode_list();"><i class="fa fa-fw" ng-class="{'fa-plus':!add_btn,'fa-close':add_btn}"></i></div>
        <div class="clearfix"></div>
        <div class="col-lg-8 col-lg-offset-2 animate slide-down" ng-show="add_btn">
          <table class="table table-responsive mt20 tagl">
            <tr>
              <td class="s_gray">商品代码</td>
              <td><input type="text" ng-blur="check_goods_code()" id="add_goods_code" class="form-control input-sm"></td>
            </tr>
            <tr ng-show="info_repo">
              <td class="s_gray">库存数</td>
              <td>{{info_repo.repo}} (日{{info_repo.b_repo}}+中{{info_repo.a_repo}})</td>
            </tr>
            <tr>
              <td class="s_gray">运费代码</td>
              <td>
                <div class="btn-group">
                  <button type="button" class="btn btn-default btn-sm">
                    <select id="add_yfcode" class="selecter" ng-model="yf_change">
                      <option value="">请选择运费代码...</option>
                      <option ng-value="item.yf_code_name" ng-repeat="item in yfcode_list track by $index">{{item.yf_code_name}}</option>
                    </select>
                  </button>
                </div>
              </td>
            </tr>
            <tr>
              <td class="s_gray">数 量</td>
              <td><input type="number" id="add_goods_num" ng-blur="check_int('add_goods_num')" class="form-control input-sm"></td>
            </tr>
            <tr>
              <td class="s_gray">单 价</td>
              <td><input type="number" id="add_unit_price" ng-blur="check_int('add_unit_price')" class="form-control input-sm"></td>
            </tr>
            <tr>
              <td class="s_gray">COD Money</td>
              <td><input type="number" id="add_cod_money" ng-blur="check_int('add_cod_money')" class="form-control input-sm"></td>
            </tr>
            <tr>
              <td colspan="2" class="red">注：非代引订单填写 COD Money 为 0。</td>
            </tr>
            <tr>
              <td colspan="2"><button class="btn btn-success btn-xs col-lg-6 col-lg-offset-3" ng-click="add_item(item.order_id);add_btn=!add_btn"><i class="fa fa-plus fa-fw"></i> 新 增</button></td>
            </tr>
          </table>
        </div>
        <table ng-show="one_res_logs!=''" class="tagl table table-hover table-condensed table-bordered mt20">
          <tr class="warning">
            <td style="width:50px;" class="tagc">操作人</td>
            <td>操作日志</td>
            <td style="width:138px;">时 间</td>
          </tr>
          <tr style="color: #8a6d3b;" ng-repeat="item_log in one_res_logs track by $index">
            <td class="tagc">{{item_log.who_name}}</td>
            <td>{{item_log.who_do}}</td>
            <td class="tagc">{{item_log.do_time}}</td>
          </tr>
        </table>
        <div class="clearfix"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="$hide()">关 闭</button>
      </div>
    </div>
  </div>
</div>