<div class="modal" tabindex="-1" role="dialog" ng-controller="yfcodeCtrl">
  <div class="modal-dialog" style="width:700px;">
    <div class="modal-content">
      <div class="modal-header">
      	<i class="fa fa-close f20 close" ng-click="$hide()"></i>
        <h4 class="modal-title blue"><i class="fa fa-fw fa-jpy"></i> 运费代码 <span class="red">{{change_note_order_id}}</span></h4>
      </div>
      <div class="modal-body">
        <div class="btn-group ml20">
          <div class="btn btn-default">{{change_yfcode}}</div>
          <div class="btn btn-default btn-sm">
            <select class="btn btn-default btn-sm selecter pull-left mr5 blue" ng-model="add_area" ng-change="change_search_field()">
              <option value="">请选择 ..</option>
              <option ng-value="item.area" ng-repeat="item in jp_area">{{item.area}}</option>
            </select>
          </div>
          <div class="btn btn-default btn-sm">
            <input type="number" class="form-control input-sm key_words" ng-model="spe_yf" placeholder="特殊基础运费">
          </div>
          <div class="btn btn-default btn-sm">
            <input type="number" class="form-control input-sm key_words" ng-model="spe_one_yf" placeholder="特殊单件追加运费">
          </div>
          <button class="btn btn-success" ng-click="add_spe_yfcode()" ng-disabled="add_area==''" ><i class="fa fa-plus fa-fw"></i>新 增</button>
        </div>

        <div class="col-lg-10 col-lg-offset-1">
          <table class="table table-bordered table-striped mt20 table-condensed">
            <tr class="blue info">
              <td>地区</td>
              <td>特殊基础运费</td>
              <td>特殊单件追加运费</td>
              <td>操作</td>
            </tr>
            <tr ng-repeat="item in spe_list_data track by $index">
              <td>{{item.area}}</td>
              <td>{{item.yf_money}}</td>
              <td>{{item.yf_add}}</td>
              <td><button class="btn btn-danger btn-xs" ng-click="del_spe(item.id)">删除</button></td>
            </tr>
          </table>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="$hide()">关闭</button>
      </div>
    </div>
  </div>
</div>