<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" style="width:700px;">
    <div class="modal-content">
      <div class="modal-header">
      	<i class="fa fa-close f20 close" ng-click="$hide()"></i>
        <h4 class="modal-title blue"><i class="fa fa-fw fa-book"></i> 运费代码 <span class="red">{{change_note_order_id}}</span></h4>
      </div>
      <div class="modal-body">
        <textarea style="resize: vertical;" class="form-control" placeholder="备注 .." id="change_note_key"> </textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info" ng-click="save_note(change_note_index);$hide()"><i class='fa fa-save fa-fw'></i> 保存</button>
        <button type="button" class="btn btn-default" ng-click="$hide()">关闭</button>
      </div>
    </div>
  </div>
</div>