@font-face {
    font-family: "STXINGKA";
    src: url("STXINGKA.eot"); /* IE9 */
    src: url("STXINGKA.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    
    url("STXINGKA.woff") format("woff"), /* chrome、firefox */
    url("STXINGKA.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+ */
    
    url("STXINGKA.svg#STXINGKA") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


